@font-face {
    font-family: Assasign;
    src: url(Media/Assassin$.ttf);
}

body{
    background-color: black;
    color: white;
    font-family: Assasign;
    margin: 0;
    overflow-x: hidden;
}

header{
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

#logo{
    height: 4rem;
}

.content{
    display: flex;
    list-style: none;
    font-size: large;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}


